<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/layui.css" />
		<link rel="stylesheet" href="../../css/goods/sku_style.css" />
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
		<script src="../../dist/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/http-vue-loader"></script>
		<script src="../../js/environment.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/kboot.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../js/goods/sku.js"></script>
		<style type="text/css">
			#sku {
				border: #000077 2px dashed;
				padding: 10px;
			}

			#app {
				padding: 20px;
			}
			#introVideo {
				cursor: pointer;
			}
			.video-mask {
				width: 1000px;
				height: 600px;
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				color: yellow;
				z-index: 10;
			}

			.block-container {
				display: flex;
			}

			.redStar {
				color: red;
				font-size: 1.5rem;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<form class="layui-form" id="myform">
				<div class="layui-form-item">
					<label class="layui-form-label">商品标题<span class="redStar">*</span></label>
					<div class="layui-input-block">
						<input type="text" name="title" v-model="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
						 class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">默认价格<span class="redStar">*</span></label>
					<div class="layui-input-inline">
						<input type="text" name="defaultPrice" v-model="defaultPrice" required lay-verify="required" placeholder="请输入默认价格(元)"
						 autocomplete="off" class="layui-input input-price">
					</div>
					<label class="layui-form-label">运费价格</label>
					<div class="layui-input-inline">
						<input type="text" name="postage" v-model="postage" required lay-verify="required" placeholder="请输入运费价格(元)"
						 autocomplete="off" class="layui-input input-price">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label">退换承诺<span class="redStar">*</span></label>
					<div class="layui-input-inline">
						<select id="goodsReturn" name="goodsReturn" lay-verify required="required">
						  <option value="">请选择</option>
						  <option value="CANNOT_RETURN">不可退换</option>
						  <option value="CAN_RETURN">可退换</option>
						</select>
					</div>
					<label class="layui-form-label">发货时间<span class="redStar">*</span></label>
					<div class="layui-input-inline">
						<select id="deliveryTime" name="deliveryTime" lay-verify required="required">
						  <option value="">请选择</option>
						  <option value="ONE_DAY">一天内</option>
						  <option value="TWO_DAY">两天内</option>
						  <option value="TREE_DAY">三天内</option>
						  <option value="FIVE_DAY">五天内</option>
						  <option value="SEVEN_DAY">七天内</option>
						  <option value="OTHERS">其他时间</option>
						</select>  
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">详情标签</label>
					<div class="layui-input-block">
						<!--详情标签-->
						<input v-for="(item,index) in labelList" type="text" maxlength="5" style="width: 150px;margin-right: 10px;"
						 :placeholder="item.placeholder" v-model="item.value" autocomplete="off" class="layui-input layui-col-md1">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">封面图片<span class="redStar">*</span></label>
					<div class="layui-input-block">
						<img-area :imgs="cover"></img-area>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">商品分类<span class="redStar">*</span></label>
					<div class="layui-input-inline">
						<select name="classify1" id="classify1" lay-filter="first">
							<option class="firstOption" value="">1</option>
						</select>
					</div>
					<label class="layui-form-label">二级分类</label>
					<div class="layui-input-inline">
						<select name="classify2" id="classify2" lay-verify="required" lay-filter="second">
							<option class="secondOption" value="">2</option>
						</select>
					</div>
				</div>
			</form>

			<!--轮播图显示静态资源-->
			<div class="layui-form-item">
				<label class="layui-form-label">轮播图片<span class="redStar">*</span></label>
				<div class="layui-input-block">
					<img-area :imgs="swiper"></img-area>
				</div>
			</div>
			<!--轮播图视频-->
			<div class="layui-form-item">
				<label class="layui-form-label">视频上传</label>
				<div class="layui-input-block block-container">
					<div v-show="!hasVideo" class="video-mask"><button class="layui-btn layui-btn-primary" @click="uploadVideo">上传视频</button></div>
					<video width="1000px" autoplay height="600px" :src="myVideo" controls="controls" id="introVideo"></video>
					<button class="layui-btn layui-btn-danger" @click="delVideo" v-show="hasVideo" type="button">删除视频</button>
				</div>
			</div>

			<!--商品详情图-->
			<div class="layui-form-item">
				<label class="layui-form-label">详情图片<span class="redStar">*</span></label>
				<div class="layui-input-block">
					<img-area :imgs="detailPhotos"></img-area>
				</div>
			</div>

			<!--商品规格管理-->
			<div class="layui-form-item">
				<label class="layui-form-label">商品规格<span class="redStar">*</span></label>
				<div class="layui-input-block">
					<div id="sku">
						<div id="title_box"></div>
						<div class="fill operation">
							<span class="le cloneSku layui-btn-normal">添加规格</span>
						</div>
						<div id="skuCloneModel" style="display: none;">
							<div class="clear"></div>
							<ul class="SKU_TYPE">
								<li is_required='0' propid='' sku-type-name="">
									<a href="javascript:void(0);" class="delCusSkuType">移除规格</a>
									<input type="text" class="cusSkuTypeInput" />：
								</li>
							</ul>
							<ul>
								<li>
									<input type="checkbox" class="model_sku_val" propvalid='' value="" style="display: none;" />
								</li>
								<button class="cloneSkuVal layui-btn-primary">添加规格分类</button>
							</ul>
							<div class="clear"></div>
						</div>
						<li style="display: none;" id="onlySkuValCloneModel">
							<input type="checkbox" class="model_sku_val" propvalid='' value="" style="display: none;" />
							<input type="text" class="cusSkuValInput" />
							<a href="javascript:void(0);" class="delCusSkuVal">删除</a>
						</li>
						<div class="clear"></div>
						<div id="skuTable"></div>
						<!-- <button id="submit" class="layui-btn-normal">验证规格信息</button> -->
					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn layui-bg-cyan" type="submit" @click="submit">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript">
		var example = {
			title: "",
			defaultPrice: "",
			postage: 0,
			goodsClassify: "",
			myVideo: "", //uri
			hasVideo: false,
			second: [],
			categoryIndex: [null, null],
			category: [],
			labelList: [{
				placeholder: "标签1",
				value: ""
			}, {
				placeholder: "标签2",
				value: ""
			}, {
				placeholder: "标签3",
				value: ""
			}, {
				placeholder: "标签4",
				value: ""
			}, {
				placeholder: "标签5",
				value: ""
			}],
			cover: [{
				url: "",
				msg: "封面",
				showDelete: true,
				style: {
					"width": "200px",
					"height": "200px",
				}
			}],
			swiper: [{
				url: "",
				msg: "图片1",
				showDelete: true,
				style: {
					"width": "300px",
					"height": "200px",
				}
			}, {
				url: "",
				msg: "图片2",
				showDelete: true,
				style: {
					"width": "300px",
					"height": "200px",
				}
			}, {
				url: "",
				msg: "图片3",
				showDelete: true,
				style: {
					"width": "300px",
					"height": "200px",
				}
			}, {
				url: "",
				msg: "图片4",
				showDelete: true,
				style: {
					"width": "300px",
					"height": "200px",
				}
			}, {
				url: "",
				msg: "图片5",
				showDelete: true,
				style: {
					"width": "300px",
					"height": "200px",
				}
			}, {
				url: "",
				msg: "图片6",
				showDelete: true,
				style: {
					"width": "300px",
					"height": "200px",
				}
			}],
			detailPhotos: [{
				url: "",
				msg: "图片1",
				showDelete: true,
				style: {
					"width": "300px",
					"height": "500px",
				}
			}, {
				url: "",
				msg: "图片2",
				showDelete: true,
				style: {
					"width": "300px",
					"height": "500px",
				}
			}, {
				url: "",
				msg: "图片3",
				showDelete: true,
				style: {
					"width": "300px",
					"height": "500px",
				}
			}, {
				url: "",
				msg: "图片4",
				showDelete: true,
				style: {
					"width": "300px",
					"height": "500px",
				}
			}, {
				url: "",
				msg: "图片5",
				showDelete: true,
				style: {
					"width": "300px",
					"height": "500px",
				}
			}, {
				url: "",
				msg: "图片6",
				showDelete: true,
				style: {
					"width": "300px",
					"height": "500px",
				}
			}]
		}

		function getDetailLabel() {
			var detailLabel = ""
			var list = example.labelList
			for (let i = 0; i < list.length; i++) {
				if (list[i].value) {
					detailLabel = detailLabel + list[i].value + ","
				}
			}
			return detailLabel
		}

		function getSlideShow() {
			var slideShow = ""
			var list = example.swiper
			for (let i = 0; i < list.length; i++) {
				if (list[i].url) {
					slideShow = slideShow + list[i].url + ","
				}
			}
			if (example.myVideo) {
				slideShow += example.myVideo
			}
			return slideShow
		}

		function getDetaiPhotos() {
			var detailPhotos = ""
			var list = example.detailPhotos
			for (let i = 0; i < list.length; i++) {
				if (list[i].url) {
					detailPhotos = detailPhotos + list[i].url + ","
				}
			}
			return detailPhotos
		}

		function createFirst() {
			var select1 = document.getElementById("classify1");
			console.log('example.category', example.category)

			for (let i in example.category) {
				console.log('i', example.category[i].name)
				select1.add(new Option(example.category[i].name, i))
			}
			var form = layui.form
			form.render()
		}

		function addSecond() {
			var select2 = document.getElementById("classify2");
			var first = document.getElementById("classify1").value;
			console.log(first)
			select2.length = 1;
			var second = example.category[first].second
			for (let i in second) {
				select2.add(new Option(second[i].name, i))
			}
		}

		function clearSecond() {
			var select2 = document.getElementById("classify2");
			select2.length = 1
		}

		function checkRequired() {
			if (!example.title) {
				layer.msg("必须输入商品标题")
				return false
			}
			if (!example.categoryIndex[0] || !example.categoryIndex[1]) {
				layer.msg("商品分类没选完")
				return false
			}
			if (!example.defaultPrice) {
				layer.msg("必须输入商品默认价格")
				return false
			}
			if (!example.cover[0].url) {
				layer.msg("商品封面必须要加")
				return false
			}
			if (!getSlideShow()) {
				layer.msg("轮播图至少要有一张")
				return false
			}
			if (!getDetaiPhotos()) {
				layer.msg("详情图至少要有一张")
				return false
			}
			if(!$("#goodsReturn").val()){
				layer.msg("商品要填是否可退换")
				return false
			}
			if(!$("#deliveryTime").val()){
				layer.msg("商品要填发货时间")
				return false
			}
			
			return true
		}

		/**
		 * jQuery 
		 *
		 */
		$(function() {
			$(".input-price").keyup(function() {
				var reg = $(this).val().match(/\d+\.?\d{0,2}/);
				var txt = '';
				if (reg != null) {
					txt = reg[0];
				}
				$(this).val(txt);
			}).change(function() {
				$(this).keypress();
				var v = $(this).val();
				if (/\.$/.test(v)) {
					$(this).val(v.substr(0, v.length - 1));
				}
			});
			
			$("#defaultTips").hover(function(){
				layer.tips("1","#defaultTips",{
					time:3000
				})
			},function(){
				layer.closeAll()
			})

		})
	</script>
	<script src="../../js/util/provinces.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		
		var vm = new Vue({
			el: "#app",
			components: {
				'img-area': httpVueLoader('/jiwuzao-merchant/plugins/imgArea.vue'),
			},
			data() {
				return example;
			},
			beforeCreate() {
				var goodsDetail = storageGet('goodsDetail')
				if(goodsDetail){
					example.title = goodsDetail.title
				}
			},
			beforeMount() {
			},
			created() {
			},
			mounted() {
				for(let i in provinces){
					console.log(provinces[i].label)
				}
				//初始创建一级类目的下拉菜单
				var request = post(false, major + "/goods/getCategory", {
					"categoryId": 1
				})
				handleRequest(request, function(res) {
					console.log(res.data)
					console.log('jsonpase', JSON.parse(res.data.category))
					example.category = JSON.parse(res.data.category)
					console.log('beforeCreated', example.category)
					createFirst()
				})
			},
			methods: {
				uploadVideo(e) {
					if (!this.myVideo) {
						uploadVideo(function(res) {
							example.myVideo = res
							example.hasVideo = true
						})
					}
				},
				delVideo() {
					delVideo(example.myVideo, function(res) {})
					example.myVideo = ""
					example.hasVideo = false
				},
				submit() {
					if (!checkRequired()) {
						return false
					}
					var skuData = getSkuData()
					skuJson = skuData
					if (!skuData) {
						return false
					}
					var data = {};
					var index = this.categoryIndex
					data.goodsClassify = this.category[index[0]].value
					data.goodsClassDetail = this.category[index[0]].value + "," + this.category[index[0]].second[index[1]].value
					data.title = this.title
					data.cover = this.cover[0].url
					data.defaultPrice = this.defaultPrice
					data.slideshow = getSlideShow()
					data.postage = this.postage
					data.goodsReturn = $("#goodsReturn").val()
					data.deliveryTime = $("#deliveryTime").val()
					data.detailLabel = getDetailLabel()
					data.goodsType = JSON.stringify(skuJson.type)
					data.goodsTypeClass = JSON.stringify(skuJson.typeClass)
					data.goodsSpecPojo = skuJson.spec
					data.detailPhotos = getDetaiPhotos()
					console.log('data', data)
					var request = post(true, major + "/goods/addGoods", data)
					handleRequest(request, function(res) {
						if(res.state == 'success'){
							location.href ="show.html"
						}
					})
				}
			},
		})
	</script>

	<script type="text/javascript">
		layui.use(['layer', 'jquery', 'form'], function() {
			var form = layui.form;
			form.on('select(first)', function(data) {
				console.log('layui', data)
				if (data.value) {
					example.categoryIndex[0] = data.value
					example.second = example.category[data.value].second
					addSecond()
				} else {
					clearSecond();
				}
				form.render('select');
			});
			form.on('select(second)', function(data) {
				console.log('second', data)
				if (data.value) {
					example.categoryIndex[1] = data.value
				}
				form.render('select');
			});
		});
	</script>

</html>
