<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../dist/css/layui.css" media="all">
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="../../dist/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
		<script src="../../js/environment.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			tbody tr:hover {
				cursor: pointer;
			}

			table {
				text-align: center;
			}
			
			.active{
				background: red;
				color: white;
			}

			.choose-area {
				padding: 10px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				background: #000000;
			}

			.choose-area button {
				height: 30px;
				line-height: 30px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="choose-area">
				<button class="layui-btn layui-btn-primary" :class="{active:curTab==0}" @click="showAll">查看全部</button>
				<button class="layui-btn layui-btn-primary" :class="{active:curTab==1}" @click="showWait">查看待审核</button>
				<button class="layui-btn layui-btn-primary" :class="{active:curTab==2}" @click="showPutAway">查看已上架</button>
				<button class="layui-btn layui-btn-primary" :class="{active:curTab==3}" @click="showPutOff">查看未上架</button>
			</div>
			<table class="layui-table">
				<thead>
					<tr>
						<td>商品名称</td>
						<td>封面</td>
						<td>默认价格</td>
						<td>运费</td>
						<td>创建时间</td>
						<td>审核状态</td>
						<td>上架操作</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item,index) in goods" @click="showDetail(item)">
						<td>{{item.title}}</td>
						<td><img style="width: 40px; height: 40px;" :src="item.cover"></td>
						<td>{{item.defaultPrice}}</td>
						<td>{{item.postage}}</td>
						<td>{{getDate(item.createTime)}}</td>
						<td>{{item.auditType=="agree"?"审核通过":item.auditType=="wait"?"等待审核":"被拒绝"}}</td>
						<td>
							<div class="handel-btn" v-if="item.auditType == 'agree'">
								<button v-if="!item.putaway" class="layui-btn layui-btn-primary" @click.prevent.stop="putaway(index)">上架</button>
								<button v-else class="layui-btn layui-btn-primary" @click.prevent.stop="putOff(index)">下架</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div id="pager"></div>
		</div>
	</body>
	<script src="../../js/kboot.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/util/date.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var example = {
			goods: [],
			pageSize: 10,
			curTab:0,
			total: 0,
			page: {
				pageSize: 10,
				currentPage: 0,
				putaway: false,
				auditType: 'wait',
				isAsc: false,
				sortBy: "createTime"
			}
		}

		function initData(value) {
			var request;
			var page = example.page
			switch (value) {
				case "all":
					page.currentPage = 0
					request = post(true, major + "/goods/getGoodsList", page)
					break;
				case "wait":
					page.currentPage = 0
					request = post(true, major + "/goods/getGoodsListByStatus", page)
					break;
				case "putaway":
					page.putaway = true
					page.currentPage = 0
					request = post(true, major + "/goods/getGoodsListByPutAway", page)
					break;
				case "putOff":
					page.putaway = false
					page.currentPage=0
					request = post(true, major + "/goods/getGoodsListByPutAway", page)
					break;
				default:
					break;
			}

			handleRequest(request, function(res) {
				if (res.state == "success") {
					example.goods = res.data.content
					example.total = res.data.total
					layui.use('laypage', function() {
						var laypage = layui.laypage;
						//执行一个laypage实例
						laypage.render({
							elem: 'pager', //注意，这里的 test1 是 ID，不用加 # 号
							theme: "#283643",
							count: res.data.total, //数据总数，从服务端得到
							jump: function(obj, first) {
								//obj包含了当前分页的所有参数，比如：
								//首次不执行
								if (!first) {
									example.page.currentPage = obj.curr - 1
									example.page.pageSize = obj.limit
									updateData(value)
								}
							}
						});
					});
				} else {
					layer.msg("暂无商品")
				}
			})
		}

		function updateData(value) {
			var request;
			var page = example.page
			switch (value) {
				case "all":
					request = post(true, major + "/goods/getGoodsList", page)
					break;
				case "wait":
					request = post(true, major + "/goods/getGoodsListByStatus", page)
					break;
				case "putaway":
					page.putaway = true
					request = post(true, major + "/goods/getGoodsListByPutAway", page)
					break;
				case "putOff":
					page.putaway = false
					request = post(true, major + "/goods/getGoodsListByPutAway", page)
					break;
				default:
					break;
			}
			handleRequest(request, function(res) {
				if (res.state == "success") {
					example.goods = res.data.content
					example.total = res.data.total
				} else {
					layer.msg("暂无商品")
				}
			})
		}
	</script>


	<script type="text/javascript">
		var vm = new Vue({
			el: "#app",
			data() {
				return example
			},
			beforeMount() {},
			mounted() {
				initData("all")
			},
			methods: {
				getDate(value){
					return new Date(value).format('yyyy-MM-dd hh:mm')
				},
				showDetail(item) {
					var that = this
					var data = {
						"gid": item.gid
					}
					var request = post(true, major + '/goods/merchantGetGoodsDetail', data)
					handleRequest(request, function(res) {
						storageSet('goodsDetail', res.data, 'm', 10)
						layer.open({
							type: 2,
							area: ['100%', '100%'],
							content: '/jiwuzao-merchant/pages/goods/goodsDetail.html',
							offset: 'lt'
						});
					})
				},
				putaway(index) {
					var that =this
					var request = post(true, major + "/goods/putaway", {
						"gid": example.goods[index].gid
					})
					handleRequest(request, function(res) {
						if (res.state == "success") {
							layer.msg("上架成功")
							that.goods[index].putaway = true
							
						}
					})
				},
				putOff(index) {
					var request = post(true, major + "/goods/putOff", {
						"gid": example.goods[index].gid
					})
					handleRequest(request, function(res) {
						if (res.state == "success") {
							layer.msg("下架成功")
							example.goods[index].putaway = false
						}
					})
				},
				showAll() {
					initData("all")
					this.curTab = 0
				},
				showWait() {
					initData("wait")
					this.curTab = 1
				},
				showPutAway() {
					initData("putaway")
					this.curTab = 2
				},
				showPutOff() {
					initData("putOff")
					this.curTab = 3
				}
			}
		})
	</script>

</html>
