<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="css/login/jigsaw.css" />
		<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdn.90so.net/layui/2.4.5/layui.js"></script>
		<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
		<style>
			.container {
		  width: 310px;
		  margin: 100px auto;
		}
		input {
		  display: block;
		  width: 290px;
		  line-height: 40px;
		  margin: 10px 0;
		  padding: 0 10px;
		  outline: none;
		  border:1px solid #c8cccf;
		  border-radius: 4px;
		  color:#6a6f77;
		}
		#msg {
		  width: 100%;
		  line-height: 40px;
		  font-size: 14px;
		  text-align: center;
		}
		a:link,a:visited,a:hover,a:active {
		  margin-left: 100px;
		  color: #0366D6;
		}

		</style>
	</head>
	<body>
		<div id="app">
			<div class="head">
				欢迎登录极物造商家端
			</div>
			<div class="container">
				<input name="phone" placeholder="请输入手机号"  v-model="phone"/>
				<input id="pwd" name="password" type="password" placeholder="请输入密码" v-model="pwd"/>
				<div id="slide" style="position: relative;"></div>
			</div>
		</div>

		<script src="js/environment.js"></script>
		<script src="js/kboot.js"></script>
		<script src="js/login/jigsaw.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var example = {
				phone: "",
				pwd: ""
			}
			new Vue({
				el: "#app",
				data() {
					return example
				},
				methods: {
					show() {
						console.log(example.name)
					}
				}
			})
		</script>
	</body>
</html>
