input{outline: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{-webkit-appearance: none !important;}
button{border: none;outline: none;line-height: 30px;border-radius: 2px;padding: 0 10px;}
#submit{line-height: 35px;background: #3094f1;color: #fff;cursor: pointer;}
#submit{width: 200px;}
input.cusSkuTypeInput,input.cusSkuValInput{width: 100px;}

.operation > span{display: block;width: 80px;line-height: 35px;color: #fff;background: #3094F1;text-align: center;border: 1px solid #fff;cursor: pointer;float: left;}

.demo-title {
	font-size: 22px;
	text-align: center;
	color: red
}

ul {
	list-style: none;
	margin:10px 5px;
}
ul li{
	margin: 0 5px;
}

li label {
	cursor: pointer
}

li {
	float: left;
	line-height: 30px
}

.clear {
	clear: both
}

.delCusSkuVal,
.delCusSkuType {
	font-size: 14px;
	text-decoration: none;
	color: #666
}

table.skuTable {
	font-size: 14px;
	color: #333;
	border-width: 1px;
	border-color: #ddd;
	margin: 30px;
	border-collapse: collapse
}

table.skuTable th {
	border-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #ddd;
	color: #666;
	background-color: #ededed
}

table.skuTable td {
	border-width: 1px;
	padding: 5px 10px;
	border-style: solid;
	border-color: #ddd;
	background-color: #fff;
	color: #777;
	widows: auto;
	text-align: center;
	font-size: 12px
}

table.skuTable td input {
	width: 100%;
	border: 0;
	font-size: 14px;
	padding: 0;
	margin: 0;
	color: #666;
	text-align: center
}

.cusSkuTypeInput,.cusSkuValInput {
	height: 24px;
	display: inline-block;
	padding: 2px 12px;
	font-size: 14px;
	line-height: 24px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.cusSkuTypeInput,.cusSkuValInput: focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

button:focus {
	outline: 0
}

li em {
	color: red;
	margin-left: -8px;
	width: 8px;
	font-style: normal;
	vertical-align: sub
}
