<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../dist/css/layui.css" />
		<script src="../../js/environment.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
		<script src="../../dist/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/http-vue-loader"></script>
		<script src="../../js/kboot.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/msCode.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.container {
				padding: 20px;
			}

			.redStar {
				color: red;
				font-size: 1.5rem;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<form class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">品牌名称<span class="redStar">*</span></label>
						<div class="layui-input-block">
							<input type="text" v-model="storeName" name="storeName" maxlength="20" required lay-verify="required"
							 placeholder="请输入品牌名称" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">店铺风格<span class="redStar">*</span></label>
						<div class="layui-input-block" v-if="storeStyle">
							<input type="text" :value="getStyleValue(example.storeStyle)" maxlength="20" disabled="disabled" autocomplete="off"
							 class="layui-input">
						</div>
						<div class="layui-input-block" v-show="!storeStyle">
							<select name="storeStyle" required>
								<option value="chinese">中国风</option>
								<option value="ancient">复古</option>
								<option value="fashion">潮派</option>
								<option value="simple">简约</option>
								<option value="japanese">日式</option>
							</select>
						</div>
					</div>

					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">店铺介绍<span class="redStar">*</span></label>
						<label class="layui-form-label">2000字以内</label>

						<div id="storeRichDiv" class="layui-input-block">
							<textarea id="storeRich" name="storeIntro" style="display: none;"></textarea>
						</div>
						<div class="layui-input-block">
							<div v-html="storeIntro"></div>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">店铺图片<span class="redStar">*</span></label>
						<div class="layui-input-block">
							<img-area :imgs="imgs"></img-area>
						</div>
					</div>

					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">客服电话<span class="redStar">*</span></label>
						<div class="layui-input-block">
							<input class="layui-input-block layui-col-md5" type="text" v-model="servicePhone" name="servicePhone" required
							 lay-verify="phone" placeholder="请输入客服电话" autocomplete="off" class="layui-input">
							<input class="layui-input-block layui-col-md2" type="text" v-model="smsCode" name="msCode" required lay-verify="msCode"
							 placeholder="请输入验证码" autocomplete="off" class="layui-input">
							<button class="layui-btn layui-btn-primary" :disabled="verifyDisabled" @click.prevent="getVerifyCode">{{verifyMsg}}</button>
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-input-block" style="display: flex;justify-content: flex-end;">
							<button class="layui-btn layui-btn-warm" :disabled="disabled" lay-submit lay-filter="form">立即提交</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var example = {
			layeditIdx: 0,
			hasStoreIntro: false,
			hasStoreStyle: false,
			storeName: "",
			storeIntro: "",
			servicePhone: "",
			smsCode: "",
			storeStyle: "",
			verifyMsg: "获取验证码",
			verifyDisabled: false,
			disabled: false,
			imgs: [{
				url: "",
				msg: "店铺头像",
				showDelete: true,
				style: {
					"width": "200px",
					"height": "200px",
					"padding": "5px",
					"font-size": "16px"
				}
			}, {
				url: "",
				msg: "店铺背景",
				showDelete: true,
				style: {
					"width": "600px",
					"height": "200px",
					"padding": "5px",
					"font-size": "16px"
				}
			}]
		}
		new Vue({
			el: "#app",
			data() {
				return example
			},
			components: {
				'img-area': httpVueLoader('/jiwuzao-merchant/plugins/imgArea.vue'),
			},
			beforeCreate() {
				var request = post(true, major + "/merchant/getMerchantStore")
				handleRequest(request, function(res) {
					console.log(res)
					var store = res.data
					example.storeName = store.storeName
					if (store.storeIntro) {
						example.storeIntro = store.storeIntro
					}
					example.servicePhone = store.servicePhone
					example.imgs[0].url = store.storeIcon
					example.imgs[0].showDelete = false
					example.imgs[1].url = store.storeBgImg
					example.imgs[1].showDelete = false
					var storeStyle = store.storeStyle
					if (storeStyle) {
						example.hasStoreStyle = true
						example.storeStyle = storeStyle
					}
				})
			},
			mounted() {
				layui.use('form', function() {
					var form = layui.form;
					form.render()
				})
			},
			methods: {
				getVerifyCode() {
					if (!/^[1][0-9]{10}$/.test(this.servicePhone)) {
						layer.msg("请输入正确的手机号")
						return false
					}
					sendSmsCode(this.servicePhone)
					var second = 60
					this.verifyDisabled = true
					this.msg = "剩余时间" + second
					var interval = setInterval(() => {
						this.verifyMsg = "剩余时间" + --second + "秒"
						if (second == 0) {
							this.verifyDisabled = false,
								this.verifyMsg = "获取验证码"
						}
					}, 1000)
					setTimeout(() => {
						clearInterval(interval)
					}, 60010)
				},
				getStyleValue(value) {
					var str
					switch (value) {
						case 'chinese':
							str = "中国风"
							break;
						case 'japanese':
							str = "日式"
							break;
						case 'ancient':
							str = "复古"
							break;
						case 'fashion':
							str = "潮派"
							break;
						case 'simple':
							str = "简约"
							break;
						default:
							str = ""
							break;
					}
					return "已选风格：" + str
				}
			}
		})
		layui.use('layedit', function() {
			var layedit = layui.layedit;
			layedit.set({
				uploadImage: {
					url: 'http://api.jiwuzao.com/upload/myUpload',
					type: 'post', //默认post
				}
			});
			example.layeditIdx = layedit.build('storeRich'); //建立编辑器
		});
	</script>

	<script type="text/javascript">
		function checkImgs(imgs) {
			var flag = true
			for (let i = 0; i < imgs.length; i++) {
				if (imgs[i].uri == "" || !imgs[i].url) {
					flag = false
				}
			}
			return flag
		}


		layui.use('form', function() {
			var form = layui.form;
			form.on('submit()', function(data) {
				var formData = data.field
				delete formData.file
				layui.use('layedit', function() {
					var layedit = layui.layedit;
					console.log('content', layedit.getContent(example.layeditIdx))
					formData.storeIntro = layedit.getContent(example.layeditIdx)
				});
				if (!formData.storeIntro) {
					layer.msg('请写一份漂亮的店铺介绍吧，将用于app展示')
					return false
				}
				console.log('fromdata', formData)
				if (!checkImgs(example.imgs)) {
					layer.msg("图片要上传")
					return false
				}
				console.log(example.imgs)
				formData.storeIcon = example.imgs[0].url
				formData.storeBgImg = example.imgs[1].url
				delete formData.storeStyle1
				delete formData.storeStyle2
				delete formData.storeStyle3
				console.log("jsonFormData", formData)
				var request = post(true, major + "/merchant/modifyOrOpenStore", formData)
				handleRequest(request, function(res) {
					if (res.state == "success" && res.data) {
						try {
							var jData = JSON.parse(res.data)
							if (jData.id) {
								layer.msg("成功提交!")

							} else {
								console.log(res.data)
								layer.msg(jData)
							}
						} catch (e) {
							layer.msg(res.data)
							if (res.data == "您未通过实名认证") {
								setTimeout(function() {
									location.href = "settle.html"
								}, 2000)
							}
						}
					} else {
						layer.msg("更新失败，请检查")
					}
				})
				return false;
			});
			form.render()
		});
	</script>


</html>
