<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			button {
				display: inline-block;
				padding: 6px 12px;
				font-size: 14px;
				line-height: 1.42857143;
				text-align: center;
				cursor: pointer;
				border: 1px solid transparent;
				border-radius: 4px;
				color: #fff;
				background-color: #5bc0de;
			}

			.main {
				width: 1000px;
				margin: 100px auto;
			}

			#step {
				margin-bottom: 60px;
			}

			.btns {
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}

			.info {
				float: left;
				height: 34px;
				line-height: 34px;
				margin-left: 40px;
				font-size: 28px;
				font-weight: bold;
				color: #928787;
			}

			.info span {
				color: red;
			}

			#app {
				padding: 20px 100px;
			}

			#need-know {
				font-size: 20px;
			}

			#verify-name {
				width: 100%;
			}

			.idcard-area {
				width: 170px;
				height: 80px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 50px;
				border: 4px dashed #272636;
				border-radius: 10px;
				margin-bottom: 10px;
			}

			.idcard-area:hover {
				background: #E8E8E8;
			}

			.div-add {
				width: 60px;
				height: 60px;
				background-image: url(../../img/icons/add.png);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}

			.img-add {
				width: 100px;
				height: 100px;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="../../css/store/jquery.step.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/layui.css" />
		<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
	</head>

	<body>
		<div id="app">
			<div id="step" style="width: 100%;"></div>
			<div id="need-know" v-if="stepData.index==0">
				<p>1.重复铺货式开店淘宝会对重复发链接的宝贝进行判定，如果说淘宝系统看到你店铺内的链接相同，或者是宝贝的标题主图全部相同的话，就会判定你为重复铺货。那么什么是重复铺货式开店呢？给我说几家店铺的实际经营人都是同一个人，而且出售的商品都相同的话，这就会判定为重复铺货式开店。2018年之后重复铺货和重复铺货式开店，都已经进入严查的范围，淘宝被下架的产品已经有很多，所以在重复铺货方面大家一定要注意。2.虚假交易虚假交易最为大家所熟知的方式就是刷单，据我们所知，淘宝出台的关于刷单的规则已经有200条左右。另外在淘宝检测越来越精准化的条件下，淘宝会根据不同的标签检测出更多的刷单行为，刷单一旦被检测到，警告是最小的处罚，严重的可能店铺都无法经营，所以想要吸引流量，还是走正常途径，避开虚假交易哦。3.偷换宝贝偷换宝贝属于违规行为中经常出现的情况，一些商品销量不高之后，店家偷偷把它换成另外的商品，但是销量和基础依然是该商品的，这种情况下，商家就避免了新品再重新提高销量的步骤。但是所经营的商品也是完全不同的两个商品。在2018年这种同款产品的现象也成为严厉打击的对象，大家如果要更换产品的或者是标题之类，可以1到2天的间隔时间来慢慢的进行更换，这样就可以避免被淘宝误判为偷换宝贝了。4.SKU淘宝会根据不同的商品给他匹配不同的SKU,但是有的店家会通过产品的质量不同而进行产品更换，一旦淘宝的系统发现商品
					与SKU不匹配的时候，就会把你的产品判断为作弊，这个时候，也会影响你店铺的信誉。5.错放类目就是字面上的意思，可能你本身经营的是男装，却把自己的类目放置到了女装之中，这时候淘宝就会判定你是违规，这个只需要我们细心一点就可以避免。6.价格方面不符合比如说一个产品，你设置的价格非常低，并且还设置了免邮。举个例子，一件冬天的羽绒服，店铺设置的价格是五块钱，还免费给顾客邮寄到家。或者说你的邮费本身正常价格是十块钱左右，但是你却设置为一百元。这两种情况的价格不符合，都会导致淘宝直接给您的店铺降权，所以这种投机取巧的行为还是不要做。
					1.重复铺货式开店淘宝会对重复发链接的宝贝进行判定，如果说淘宝系统看到你店铺内的链接相同，或者是宝贝的标题主图全部相同的话，就会判定你为重复铺货。那么什么是重复铺货式开店呢？给我说几家店铺的实际经营人都是同一个人，而且出售的商品都相同的话，这就会判定为重复铺货式开店。2018年之后重复铺货和重复铺货式开店，都已经进入严查的范围，淘宝被下架的产品已经有很多，所以在重复铺货方面大家一定要注意。2.虚假交易虚假交易最为大家所熟知的方式就是刷单，据我们所知，淘宝出台的关于刷单的规则已经有200条左右。另外在淘宝检测越来越精准化的条件下，淘宝会根据不同的标签检测出更多的刷单行为，刷单一旦被检测到，警告是最小的处罚，严重的可能店铺都无法经营，所以想要吸引流量，还是走正常途径，避开虚假交易哦。3.偷换宝贝偷换宝贝属于违规行为中经常出现的情况，一些商品销量不高之后，店家偷偷把它换成另外的商品，但是销量和基础依然是该商品的，这种情况下，商家就避免了新品再重新提高销量的步骤。但是所经营的商品也是完全不同的两个商品。在2018年这种同款产品的现象也成为严厉打击的对象，大家如果要更换产品的或者是标题之类，可以1到2天的间隔时间来慢慢的进行更换，这样就可以避免被淘宝误判为偷换宝贝了。4.SKU淘宝会根据不同的商品给他匹配不同的SKU,但是有的店家会通过产品的质量不同而进行产品更换，一旦淘宝的系统发现商品
					与SKU不匹配的时候，就会把你的产品判断为作弊，这个时候，也会影响你店铺的信誉。5.错放类目就是字面上的意思，可能你本身经营的是男装，却把自己的类目放置到了女装之中，这时候淘宝就会判定你是违规，这个只需要我们细心一点就可以避免。6.价格方面不符合比如说一个产品，你设置的价格非常低，并且还设置了免邮。举个例子，一件冬天的羽绒服，店铺设置的价格是五块钱，还免费给顾客邮寄到家。或者说你的邮费本身正常价格是十块钱左右，但是你却设置为一百元。这两种情况的价格不符合，都会导致淘宝直接给您的店铺降权，所以这种投机取巧的行为还是不要做。
				</p>
				<div style="display: flex;align-items: center;justify-content: center ; height: 50px;width: 100%;"><input id="needknow"
					 style="zoom: 200%;" type="checkbox" name="admit" value="admit" /><label for="needknow">我已仔细阅读并同意</label></div>
			</div>
			<div id="verify-name" v-if="stepData.index==1">
				<form class="layui-form" action="">
					<div class="layui-form-item">
						<label class="layui-form-label">匠人艺名</label>
						<div class="layui-input-block">
							<input type="text" name="verifyName" required lay-verify="required" placeholder="请输入艺名" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">真实姓名</label>
						<div class="layui-input-block">
							<input type="text" name="trueName" required lay-verify="required" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">性别</label>
						<div class="layui-input-block">
							<input type="radio" name="sex" value="男" title="男" checked>
							<input type="radio" name="sex" value="女" title="女">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">手机号码</label>
						<div class="layui-input-block">
							<input type="text" maxlength="11" name="phone" required lay-verify="phone" placeholder="请输入手机号" autocomplete="off"
							 class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">身份证号码</label>
						<div class="layui-input-block">
							<input type="text" name="idcard" required lay-verify="idcard" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
						</div>
					</div>

					<div class="layui-row">
						<div class="layui-col-md4">
							<label class="layui-form-label">身份证正面</label>
							<div class="idcard-area">
								<div class="div-add"></div>
								<!-- <img src="../../img/icons/add.png" style="width: 100%;height: 100%;"> -->
							</div>
						</div>
						<div class="layui-col-md4">
							<label class="layui-form-label">身份证背面</label>
							<div class="idcard-area">
								<div class="div-add"></div>
								<!-- <img src="../../img/icons/add.png" style="width: 100%;height: 100%;"> -->
							</div>
						</div>
						<div class="layui-col-md4">
							<label class="layui-form-label">手持身份证</label>
							<div class="idcard-area">
								<div class="div-add"></div>
								<!-- <img src="../../img/icons/add.png" style="width: 100%;height: 100%;"> -->
							</div>
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-warm" lay-submit lay-filter="formDemo">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>

				</form>

				<script src="../../dist/layui.all.js"></script>
				<script>
					layui.use('form', function() {
						var form = layui.form;

						//监听提交
						form.on('submit(formDemo)', function(data) {
							layer.msg(JSON.stringify(data.field));
							return false;
						});
					});
				</script>

			</div>
			<div id="" v-if="stepData.index==2">
				<form class="layui-form" action="">
					<div class="layui-form-item">
						<label class="layui-form-label">店铺名称</label>
						<div class="layui-input-block">
							<input type="text" name="storeName" required lay-verify="required" placeholder="请输入店铺名称" autocomplete="off"
							 class="layui-input">
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label">店铺介绍</label>
						<div class="layui-input-block">
							<input type="text" name="storeIntro" required lay-verify="required" placeholder="请输入店铺介绍" autocomplete="off"
							 class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">身份证号码</label>
						<div class="layui-input-block">
							<input type="text" name="idcard" required lay-verify="idcard" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">身份证正面</label>
						<div class="layui-input-block">
							<input type="file" v-model="idfront" @change="addFront" name="idfront" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">身份证背面</label>
						<div class="layui-input-block">
							<input type="file" v-model="idfront" @change="addFront" name="idfront" />
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-warm" lay-submit lay-filter="formDemo">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
			</div>
			<div id="" v-if="stepData.index==3">
				已完成
			</div>
			<div class="btns">
				<button id="prevBtn" class="layui-btn layui-btn-normal" @click="prev">上一步</button>	
				<button id="nextBtn" class="layui-btn layui-btn-normal" @click="next">下一步</button>
			</div>
		</div>
	</body>

	<script src="../../js/store/jquery.step.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/kboot.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var example = {
			stepData: {
				index: 0,
				time: 400,
				title: ["阅读须知", "实名认证", "店铺认证", "认证完成"]
			},
			idfront: ''
		}

		var vm = new Vue({
			el: "#app",
			data() {
				return example;
			},
			mounted() {
				example.stepData.index = 1
			},
			methods: {
				addFront(res) {
					console.log(res)
					console.log(example.idfront)
				},

				prev() {
					$step.prevStep();
					example.stepData.index = $step.getIndex()

				},
				next() {
					switch ($step.getIndex()) {
						case 0:
							if (!$("#needknow").prop("checked")) {
								layer.msg("请认真阅读并勾选")
								return false
							} else {
								break;
							}
						case 1:
							break;

						default:
							break;
					}
					$step.nextStep();
					example.stepData.index = $step.getIndex()
				}
			}
		})

		var $step = $("#step");
		$step.step(example.stepData);
		// $("#prevBtn").on("click", function() {
		// 	$step.prevStep();
		// 	$index.text($step.getIndex());
		// });
		// $("#nextBtn").on("click", function() {
		// 	$step.nextStep();
		// 	$index.text($step.getIndex());
		// });
		// $("#btn1").on("click", function() {
		// 	$step.toStep(1);
		// 	$index.text($step.getIndex());
		// });
		// $("#btn2").on("click", function() {
		// 	$step.toStep(2);
		// 	$index.text($step.getIndex());
		// });
	</script>
</html>
