			#app,
			body,
			html {
				width: 100%;
				height: 100%;
				border-radius: 12px;
			}

			#header {
				width: 100%;
				height: 5%;
				box-sizing: border-box;
				/* border: 1px solid black; */
				display: flex;
				align-items: center;
				justify-content: center;
				background: #00a1f1;
			}

			.window-handle {
				height: 100%;
			}

			.chat-main {
				width: 100%;
				height: 95%;
				display: flex;
				align-items: center;
				box-sizing: border-box;
				border: 1px solid black;

			}

			.chat-area {
				width: 70%;
				height: 100%;
				display: flex;
				align-items: center;
				box-sizing: border-box;
				border: 1px solid black;
				flex-direction: column;
			}

			.chat-person {
				width: 30%;
				height: 100%;
				box-sizing: border-box;
				border: 1px solid black;
			}
			
			/**
			 * 清除滚动条
			 */
			::-webkit-scrollbar {
				display: none;
			}

			.input-handle {
				width: 100%;
				height: 8%;
				border-bottom: 1px solid black;
				display: flex;
				flex-direction: row;
				align-items: center;
			}

			.handle-img:hover {
				background: #eee;
			}

			.show-msg {
				width: 100%;
				height: 70%;
				padding: 16px;
				box-sizing: border-box;
				border-bottom: 1px solid black;
				overflow: scroll;
			}

			.msg-item-left {
				width: 800px;
				padding: 18px;
				display: flex;
			}

			.msg-item-left-body {
				margin-left: 16px;
				width: auto;
				max-width: 800px;
				overflow: hidden;
				word-break: break-all;
			}

			.msg-item-left-show {
				padding: 12px;
				border-radius: 12px;
				background-color: #e5e5e5;
				font-size: 2rem;
			}

			.input-msg {
				width: 100%;
				height: 30%;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.input-area {
				width: 96%;
				height: 60%;
				border: 0;
				resize: none;
				padding: 10px;
				font-size: 2rem;
			}

			.input-send {
				width: 100%;
				height: 30%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}

			#btn-close,
			#btn-send {
				border-radius: 8px;
				width: 18%;
				height: 50%;
				margin: 0 20px;
			}

			#btn-close {
				border: 2px solid #00b6f8;
				background: white;
			}

			#btn-close:hover {
				border: 2px solid #00a1f1;
				background: white;
			}

			#btn-send {
				border: 0;
				background: #00a1f1;
			}

			#btn-send:hover {
				background: #00b6f8;
			}

			/*点击事件*/
			#btn-send:clicked {
				background: #008ae2
			}

			.msg-item-right {
				float: right;
				/*右浮动*/
				width: 800px;
				padding: 18px;
				display: flex;
				flex-direction: row-reverse;
			}

			.msg-item-right-body {
				margin-right: 16px;
				width: auto;
				max-width: 800px;
				overflow: hidden;
				word-break: break-all;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}

			.msg-item-right-show {
				padding: 12px;
				border-radius: 12px;
				background-color: #e5e5e5;
				font-size: 2rem;
			}
			
			.person-main{
				padding: 10px;
				height: 90%;
				width: 100%;
				/* display: flex;
				flex-direction: column;
				align-items: flex-start; */
				overflow: scroll;
			}
			
			.person-item{
				padding: 10px;
				width: 90%;
				height: 80px;
				display: flex;
				
			}
			
			.person-item:hover{
				background: #eee;
				cursor: pointer;
			}
			
			.person-item-main{
				width: 70%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}
			
			.person-item-handle{
				width: 20%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			
			.red-dot{
				width: 28px;
				height: 28px;
				border-radius: 50%;
				background: red;
				line-height: 28px;
				text-align: center;
				color: white;
				font-size: 14px;
			}
			
			.person-item-avatar{
				margin-left: 10px;
				height: 60%;
			}
			
			.person-item-name{
				font-size: 30px;
				margin-left: 10px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			
			.person-head{
				height: 5%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 20px;
				border-bottom: 0.09375rem dashed grey;
			}
			