<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../dist/css/layui.css" media="all">
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="../../dist/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
		<script src="../../js/environment.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/kboot.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			#app {
				padding: 20px
			}
		</style>
	</head>
	<body>
		<div id="app">
			
			<ul class="layui-timeline" v-if="expressObj.traces.length>0">
				<li @click="showdata()" class="layui-timeline-item" v-for="(item,index) in expressObj.traces">
					<i  class="layui-icon layui-timeline-axis">&#xe63f;</i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">{{item.AcceptTime}}</h3>
						<p>
							{{item.AcceptStation}}
						</p>
					</div>
				</li>
				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
					<div class="layui-timeline-content layui-text">
						<div class="layui-timeline-title">快递单号:{{expressObj.expNo}}</div>
						<p>快递公司：{{expressObj.expCompany}}</p>
					</div>
				</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data() {
				return {
					expressObj: {
						createTime:"",
						expCompany:"",
						expNo:"",
						orderNo:"",
						traces:[]
					}
				}
			},
			mounted() {
				var data = storageGet('expressTrace')
				console.log('ept.....mounted', data);
				this.expressObj = data
			},
			methods:{
				showdata(){
					console.log('..',this.expressObj);
				}
			}
		})
	</script>
</html>
