<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../dist/css/layui.css" media="all">
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="../../dist/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
		<script src="../../js/environment.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			tbody tr:hover {
				cursor: pointer;
			}

			table {
				text-align: center;
			}

			.choose-area {
				padding: 10px;
				display: flex;
				align-items: center;
				justify-content: flex-start
			}

			.choose-area button {
				height: 30px;
				line-height: 30px;
			}

			.no-order {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-size: 20px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="layui-bg-cyan choose-area">
				<button class="layui-btn layui-btn-primary" @click="showAll">查看全部</button>
				<button class="layui-btn layui-btn-primary" @click="showWaitDelivery">查看待发货</button>
				<button class="layui-btn layui-btn-primary" @click="showWaitReceive">查看待签收</button>
				<button class="layui-btn layui-btn-primary" @click="showFinish">查看已完成</button>
				<button class="layui-btn layui-btn-primary">查看异常订单</button>
			</div>
			<table class="layui-table" v-if="goods.length>0">
				<thead>
					<tr>
						<td>商品名称</td>
						<td>封面</td>
						<td>规格</td>
						<td>购买数量</td>
						<td>支付时间</td>
						<td>订单状态</td>
						<td>总金额</td>
						<td>收货城市</td>
						<td>收货地址</td>
						<td>收货人</td>
						<td>收货电话</td>
						<td>邮费</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item,index) in goods" @click="showDetail(item)">
						<td>{{item.goodsTitle}}</td>
						<td><img style="width: 40px; height: 40px;" :src="item.cover"></td>
						<td>{{item.specString}}</td>
						<td>{{item.buyCount}}</td>
						<td>{{item.payTime | formatDate}}</td>
						<td>{{item.orderStatus}}</td>
						<td>{{item.finalPay}}</td>
						<td>{{item.receiverCity}}</td>
						<td>{{item.receiverAddress}}</td>
						<td>{{item.receiverTrueName}}</td>
						<td>{{item.receiverPhone}}</td>
						<td>{{item.postage}}</td>
						<td><button type="button" v-if="item.orderStatus == 'waitDeliver'" @click="toDeliver(item)" class="layui-btn layui-btn-primary">发货</button></td>
					</tr>
				</tbody>
			</table>
			<div v-if="goods.length===0" class="no-order">
				<img src="../../img/icons/no-order.svg" style="width: 200px;height: 200px;padding: 100px;">
				<p>暂无订单</p>
			</div>
			<div id="pager"></div>
		</div>
	</body>
	<script src="../../js/kboot.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var example = {
			goods: [],
			pageSize: 10,
			total: 0,
			page: {
				pageSize: 10,
				currentPage: 0,
				isAsc: false,
				orderStatus: "waitPay",
				sortBy: "createTime"
			}
		}

		function initData(value) {
			var page = example.page
			var request
			switch (value) {
				case "all":
					page.currentPage = 0
					request = post(true, major + "/order/getAllMerchantOrder", page)
					break;
				case "waitPay":
					page.currentPage = 0
					page.orderStatus = "waitPay"
					request = post(true, major + "/order/getAllStoreOrderByStatus", page)
					break;
				case "waitDeliver":
					page.currentPage = 0
					page.orderStatus = "waitDeliver"
					request = post(true, major + "/order/getAllStoreOrderByStatus", page)
					break;
				case "waitReceive":
					page.currentPage = 0
					page.orderStatus = "waitReceive"
					request = post(true, major + "/order/getAllStoreOrderByStatus", page)
					break;
				case "finish":
					page.currentPage = 0
					page.orderStatus = "finish"
					request = post(true, major + "/order/getAllStoreOrderByStatus", page)
					break;
				default:
					break;
			}
			handleRequest(request, function(res) {
				console.log('pagedto', res)
				if (res.state == "success") {
					example.goods = res.data.content
					example.total = res.data.total
					layui.use('laypage', function() {
						var laypage = layui.laypage;
						//执行一个laypage实例
						laypage.render({
							elem: 'pager', //注意，这里的 test1 是 ID，不用加 # 号
							theme: "#283643",
							count: res.data.total, //数据总数，从服务端得到
							jump: function(obj, first) {
								//obj包含了当前分页的所有参数，比如：
								//首次不执行
								if (!first) {
									example.page.currentPage = obj.curr - 1
									example.page.pageSize = obj.limit
									updateData(value)
								}
							}
						});
					});
				} else {
					layer.msg("暂无订单")
				}
			})
		}

		function updateData(value) {
			var page = example.page
			var request
			switch (value) {
				case "all":
					request = post(true, major + "/order/getAllMerchantOrder", page)
					break;
				case "waitPay":
					page.orderStatus = "waitPay"
					request = post(true, major + "/order/getAllStoreOrderByStatus", page)
					break;
				case "waitDeliver":
					page.orderStatus = "waitDeliver"
					request = post(true, major + "/order/getAllStoreOrderByStatus", page)
					break;
				case "waitReceive":
					page.orderStatus = "waitReceive"
					request = post(true, major + "/order/getAllStoreOrderByStatus", page)
					break;
				case "finish":
					page.orderStatus = "finish"
					request = post(true, major + "/order/getAllStoreOrderByStatus", page)
					break;
				default:
					break;
			}
			handleRequest(request, function(res) {
				if (res.state == "success") {
					example.goods = res.data.content
					example.total = res.data.total
				} else {
					layer.msg("暂无订单")
				}
			})
		}
	</script>

	<script type="text/javascript">
		var vm = new Vue({
			el: "#app",
			data() {
				return example
			},
			filters: {
				formatDate: function(value) {
					if (!value)
						return null
					let date = new Date(value);
					let y = date.getFullYear();
					let MM = date.getMonth() + 1;
					MM = MM < 10 ? ('0' + MM) : MM;
					let d = date.getDate();
					d = d < 10 ? ('0' + d) : d;
					let h = date.getHours();
					h = h < 10 ? ('0' + h) : h;
					let m = date.getMinutes();
					m = m < 10 ? ('0' + m) : m;
					let s = date.getSeconds();
					s = s < 10 ? ('0' + s) : s;
					return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s;
				}
			},
			beforeMount() {},
			mounted() {
				initData("waitDeliver")
				this.getDefaultAddress()
			},
			methods: {
				showDetail(item) {

				},
				showAll() {
					initData("all")
				},
				showWaitDelivery() {
					initData("waitDeliver")
				},
				showWaitReceive() {
					initData("waitReceive")
				},
				showFinish() {
					initData("finish")
				},
				toDeliver(item) {
					storageSet('deliverOrder',item,'m',30)
					location.href = 'deliver.html'
				},
				getDefaultAddress(){
					var user = storageGet('userOpen')
					var uid = user.uid
					var request = post(false,major+'/address/defaultAddress',{uid})
					handleRequest(request,function(res){
						console.log('..........',res);
						storageSet('senderAddress',res.data)
					})
				}
			}
		})
	</script>

</html>
